.add__account__modal {
	z-index: 10;
	position: fixed;
	padding: 5em 5em 10em 20em;
	width: 65em;
}

.content__modal {
	border-radius: 5px !important;
	border-style: solid !important;
	border-color: white !important;
}

.modal__heading {
	background-color: #1d8cf8 !important;
}

.modal__content {
	background-color: white;
}

.subtitle__modal {
	color: #1d8cf8 !important;
}
