.override--padding {
	padding-top: 1em !important;
}

.btn-simple,
.navbar .navbar-nav > a.btn.btn-simple {
	color: #344675;
	border-color: #344675;
	background: transparent;
}

.btn.btn-simple:hover,
.btn.btn-simple:focus,
.btn.btn-simple:active,
.btn.btn-simple:not(:disabled):not(.disabled):active,
.navbar .navbar-nav > a.btn.btn-simple:hover,
.navbar .navbar-nav > a.btn.btn-simple:focus,
.navbar .navbar-nav > a.btn.btn-simple:active,
.navbar .navbar-nav > a.btn.btn-simple:not(:disabled):not(.disabled):active {
	color: #344675;
	border-color: #344675;
	background-color: transparent !important;
	background-image: none !important;
	box-shadow: none;
}

.navbar .navbar-nav > a.btn.btn-simple.active {
	border-color: #344675 !important;
}
.btn.btn-simple.active:hover,
.btn.btn-simple.active:focus,
.btn.btn-simple.active:active,
.btn.btn-simple.active:not(:disabled):not(.disabled):active,
.navbar .navbar-nav > a.btn.btn-simple.active:hover,
.navbar .navbar-nav > a.btn.btn-simple.active:focus,
.navbar .navbar-nav > a.btn.btn-simple.active:active,
.navbar
	.navbar-nav
	> a.btn.btn-simple.active:not(:disabled):not(.disabled):active {
	color: #ffffff;
	border-color: #344675;
	background-image: linear-gradient(
		to bottom left,
		#344675,
		#263148,
		#344675
	) !important;
	background-image: -webkit-linear-gradient(
		to bottom left,
		#344675,
		#263148,
		#344675
	) !important;
	background-image: -o-linear-gradient(
		to bottom left,
		#344675,
		#263148,
		#344675
	) !important;
	background-image: -moz-linear-gradient(
		to bottom left,
		#344675,
		#263148,
		#344675
	) !important;
	background-color: #263148 !important;
	box-shadow: none;
}

.btn-primary.btn-simple {
	color: #e14eca;
	border-color: #e14eca;
	background: transparent;
}

.btn-primary.btn-simple:hover,
.btn-primary.btn-simple:focus,
.btn-primary.btn-simple:active,
.btn-primary.btn-simple:not(:disabled):not(.disabled):active {
	color: #e14eca;
	border-color: #e14eca;
	background-color: transparent !important;
	background-image: none !important;
	box-shadow: none;
}

.btn-primary.btn-simple.active {
	border-color: #e14eca !important;
}
.btn-primary.btn-simple.active:hover,
.btn-primary.btn-simple.active:focus,
.btn-primary.btn-simple.active:active,
.btn-primary.btn-simple.active:not(:disabled):not(.disabled):active {
	color: #ffffff;
	border-color: #e14eca;
	background-image: linear-gradient(
		to bottom left,
		#e14eca,
		#ba54f5,
		#e14eca
	) !important;
	background-image: -webkit-linear-gradient(
		to bottom left,
		#e14eca,
		#ba54f5,
		#e14eca
	) !important;
	background-image: -o-linear-gradient(
		to bottom left,
		#e14eca,
		#ba54f5,
		#e14eca
	) !important;
	background-image: -moz-linear-gradient(
		to bottom left,
		#e14eca,
		#ba54f5,
		#e14eca
	) !important;
	background-color: #ba54f5 !important;
	box-shadow: none;
}

.btn-info {
	background: #1d8cf8;
	background-image: -webkit-linear-gradient(
		to bottom left,
		#1d8cf8,
		#3358f4,
		#1d8cf8
	);
	background-image: -o-linear-gradient(
		to bottom left,
		#1d8cf8,
		#3358f4,
		#1d8cf8
	);
	background-image: -moz-linear-gradient(
		to bottom left,
		#1d8cf8,
		#3358f4,
		#1d8cf8
	);
	background-image: linear-gradient(to bottom left, #1d8cf8, #3358f4, #1d8cf8);
	background-size: 210% 210%;
	background-position: top right;
	background-color: #1d8cf8;
	transition: all 0.15s ease;
	box-shadow: none;
	color: #ffffff;
}

.btn-info.animation-on-hover:hover {
	background-position: bottom left;
	transition: 0.3s ease-in-out;
}
.btn-info:hover,
.btn-info:focus,
.btn-info:active,
.btn-info.active,
.btn-info:active:focus,
.btn-info:active:hover,
.btn-info.active:focus,
.btn-info.active:hover {
	background-color: #3358f4 !important;
	background-image: linear-gradient(
		to bottom left,
		#1d8cf8,
		#3358f4,
		#1d8cf8
	) !important;
	background-image: -webkit-linear-gradient(
		to bottom left,
		#1d8cf8,
		#3358f4,
		#1d8cf8
	) !important;
	background-image: -o-linear-gradient(
		to bottom left,
		#1d8cf8,
		#3358f4,
		#1d8cf8
	) !important;
	background-image: -moz-linear-gradient(
		to bottom left,
		#1d8cf8,
		#3358f4,
		#1d8cf8
	) !important;
	color: #ffffff;
	box-shadow: none;
}

.btn-info:active {
	box-shadow: none !important;
	transform: translateY(1px) !important;
	transition: all 0.15s ease;
}
.btn-info:not([data-action]):hover {
	box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.4);
	transform: translateY(-1px);
	-webkit-transform: translateY(-1px);
}

.btn-info.disabled,
.btn-info.disabled:hover,
.btn-info.disabled:focus,
.btn-info.disabled.focus,
.btn-info.disabled:active,
.btn-info.disabled.active,
.btn-info:disabled,
.btn-info:disabled:hover,
.btn-info:disabled:focus,
.btn-info:disabled.focus,
.btn-info:disabled:active,
.btn-info:disabled.active,
.btn-info[disabled],
.btn-info[disabled]:hover,
.btn-info[disabled]:focus,
.btn-info[disabled].focus,
.btn-info[disabled]:active,
.btn-info[disabled].active,
fieldset[disabled] .btn-info,
fieldset[disabled] .btn-info:hover,
fieldset[disabled] .btn-info:focus,
fieldset[disabled] .btn-info.focus,
fieldset[disabled] .btn-info:active,
fieldset[disabled] .btn-info.active {
	background-color: #1d8cf8;
	border-color: #1d8cf8;
}
.btn-info.btn-simple {
	color: #1d8cf8;
	border-color: #1d8cf8;
	background: transparent;
}
.btn-info.btn-simple:hover,
.btn-info.btn-simple:focus,
.btn-info.btn-simple:active,
.btn-info.btn-simple:not(:disabled):not(.disabled):active {
	color: #1d8cf8;
	border-color: #1d8cf8;
	background-color: transparent !important;
	background-image: none !important;
	box-shadow: none;
}

.btn-info.btn-simple.active {
	border-color: #1d8cf8 !important;
}
.btn-info.btn-simple.active:hover,
.btn-info.btn-simple.active:focus,
.btn-info.btn-simple.active:active,
.btn-info.btn-simple.active:not(:disabled):not(.disabled):active {
	color: #ffffff;
	border-color: #1d8cf8;
	background-image: linear-gradient(
		to bottom left,
		#1d8cf8,
		#3358f4,
		#1d8cf8
	) !important;
	background-image: -webkit-linear-gradient(
		to bottom left,
		#1d8cf8,
		#3358f4,
		#1d8cf8
	) !important;
	background-image: -o-linear-gradient(
		to bottom left,
		#1d8cf8,
		#3358f4,
		#1d8cf8
	) !important;
	background-image: -moz-linear-gradient(
		to bottom left,
		#1d8cf8,
		#3358f4,
		#1d8cf8
	) !important;
	background-color: #3358f4 !important;
	box-shadow: none;
}
.btn-info.btn-link {
	color: #1d8cf8;
}
.btn-info.btn-link:hover,
.btn-info.btn-link:focus,
.btn-info.btn-link:active {
	background-color: transparent !important;
	background-image: none !important;
	color: #ffffff !important;
	text-decoration: none;
	box-shadow: none;
}

.music--line--symbol {
	color: #1d8cf8;
}
.music--bar--symbol {
	color: #d048b6;
}

.header--symbol {
	display: flex;
}
.header--figure {
	padding-left: 0.3em;
}
